body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1542451542907-6cf80ff362d6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1221&q=80");
    background-size: cover;
    overflow: hidden;
}
h2{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
    text-align: center;
    color: white;
}
.Clock{
    display: flex;

}
.Clock div{
    margin: 5px;
    position: relative;
}

.Clock span{
    width: 80px;
    height: 80px;
    background: purple;
    opacity: 0.7;
    color: white;
    display: flex; 
     justify-content: center; 
    align-items: center;
    font-size:50px;
    text-shadow: 2px 2px 4px rgba(black);

}
.Clock .text{
height:30px;
font-size: 10px;
text-transform: uppercase;
letter-spacing: 2px;
background-color: blue;
opacity: 0.75;

}
.Clock #ampm{
    bottom: 0;
    position: absolute;
    height: 30px;
    width: 60px;
    font-size: 20px;
    background-color:firebrick;
}
