body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(140, 3, 3);
}
h1{
    color: white;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
.image-container{
    text-align: center;

}
.image-container img{
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
    background-color: antiquewhite;
    width: 300px;
    height: 300px;
}
.btn{
    background-color: white;
    border: none;
    padding: 10px 20px;
    color: red;
    font-weight: 600;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);

}
.btn:hover{
    opacity: 0.9;
}