body{
    margin: 0;
    height: 100%;
    background-color: bisque;
}
span{
    background:url("https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-512.png") ;
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    
}