body{
    margin: 0;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h1{
text-align: center;
}
.container{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.color-container{
    background-color: rosybrown;
    width: 300px;
    height: 150px;
    margin: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-shadow: 2px 2px 4px black;
    border: solid 2px brown;
}